header {
    text-align: center;
    color: var(--black);
    margin-bottom: 5rem;
}

.headerTitle { position: relative; width: fit-content; margin: auto;}

.headerTitleAfter {
    content: '';
    position: absolute;
    display: block;
    background-color: var(--blue);
    border-radius: 0.14rem;
    width: 70%;
    height: 0.4rem;
    bottom: -50%;
    left: 15%;
    text-align: center;
}
