@import url('./fonts/fontstyle');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
 
:root {
    --black: #3D3F53;
    --white: #ffffff;
    --blue: #327CF7;
    --red: #ff5e58; 
    --green: #62cf9a;
    --gray: #ACB4C7;
    --gray-light: #F8FAFC;
}

body {
   font-family: dana;
   background: rgb(245,248,255);
   background: linear-gradient(163deg, rgba(245,248,255,1) 10%, rgba(205,214,235,1) 100%);
   min-height: 100vh;
   padding: 2rem;
}